* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b1521;
  color: #f4f4f4;
  width: 100%;
}

/* Estilisando o menu de navegação */

nav {
  width: 100%;
  height: 70px;
  background-color: #c02942;
  margin-top: 40px;
}

.item-link {
  float: right ;
  margin: 20px 30px;
  padding: 5px 40px;
}

.link {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 30px;
}

.link:hover {
  color: #c02942;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding:  10px 10px;
  transition: 0.2s;
}
/* Estilisando o arquivo cadastro.html */

.main-cadastro {
  margin: 40px ;
  padding: 20px;
  background-color: #c02942;
  border-radius: 8px;
  width: 800px;
  height: 800px;
  text-align: center;
  margin-left: 550px;
}

.informe {
  margin: 30px;
}

.h1-cadastro {
  font-size: 2.2rem;
  padding: 40px;
}

.label-cadastro {
  padding: 20px;
  margin: 20px;
  font-size: 1.5rem;
}

.input-cadastro {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  
}

.btn-cadastro {
  padding: 15px 20px;
  border-radius: 7px;
  background-color: #f4f4f4;
  color: #c02942;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid #f4f4f4;
}

.section-sobre {
  height: 500px;
  width: 100%;
  margin: 40px 0px;
  
}

.conteine {
  width: 90%;
  padding: 20px 40px;
}

.h2-sobre {
  font-size: 4rem;
}

.p-sobre {
  font-size: 2rem;
  margin: 20px 10px;
  text-align: justify;
}

.img-sobre {
  float: inline-end;
  margin: 20px;
}

/* Estilizando o o arquivo index.html */

.section-home-left {
  float: left;
  width: 800px;
  margin: 300px 50px;
 
}

.h1-home-left {
  font-size: 5rem;
}

.p-home-feft {
  font-size: 1.6rem;
  text-align: justify;
  margin: 10px;
}

.section-home-right {
  float: inline-end;
  width: 800px;
  margin: 100px 60px;
  padding: 20px 40px;
}

.p-home-right {
  font-size: 3rem;
  text-align: justify;
}
